In [1]:
# Pandas
from config import DB_USER, DB_PASS, DB_ENDPOINT
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# SQL Alchemy
from sqlalchemy import create_engine

In [7]:
 # Create Engine
engine = create_engine(f"postgresql://{DB_USER}:{DB_PASS}@{DB_ENDPOINT}")
conn = engine.connect()

In [8]:
# Query All Records in the the Database
data = pd.read_sql("SELECT * FROM historical", conn)

In [9]:
data

,index,crypto,time,open,high,low,close,volume,trade
0,0,bitcoin_gbp,1.606349e+09,14063.02000000,14206.76000000,12215.41000000,12934.08000000,996.45679700,569.26019100
1,1,bitcoin_gbp,1.606435e+09,12939.95000000,13137.95000000,12400.00000000,12947.05000000,479.64990300,338.94537900
2,2,bitcoin_gbp,1.606522e+09,12959.51000000,13544.95000000,12764.78000000,13384.58000000,304.39238200,153.56065700
3,3,bitcoin_gbp,1.606608e+09,13388.74000000,13850.00000000,13260.70000000,13734.95000000,303.25869900,156.41113000
4,4,bitcoin_gbp,1.606694e+09,13742.11000000,14867.75000000,13742.11000000,14827.31000000,584.02100800,362.60507100
...,...,...,...,...,...,...,...,...,...
1536,1536,solana_gbp,1.637539e+09,173.32000000,173.32000000,158.63000000,161.87000000,7266.15000000,3139.43000000
1537,1537,solana_gbp,1.637626e+09,161.35000000,169.36000000,157.81000000,166.45000000,4114.15000000,2220.17000000
1538,1538,solana_gbp,1.637712e+09,166.47000000,166.47000000,150.46000000,154.54000000,4064.37000000,1607.73000000
1539,1539,solana_gbp,1.637798e+09,154.65000000,163.15000000,151.92000000,157.81000000,6067.58000000,2233.40000000
1540,1540,solana_gbp,1.637885e+09,158.03000000,158.03000000,137.39000000,145.57000000,10082.90000000,4328.32000000

In [10]:
ethereum_data = data[data["crypto"] == "ethereum_gbp"]
ethereum_data

,index,crypto,time,open,high,low,close,volume,trade
366,366,ethereum_gbp,1.606349e+09,425.82000000,433.43000000,362.73000000,390.95000000,11532.47951000,6342.33108000
367,367,ethereum_gbp,1.606435e+09,393.14000000,399.39000000,372.22000000,390.35000000,2817.00171000,1453.05769000
368,368,ethereum_gbp,1.606522e+09,392.47000000,415.00000000,383.90000000,405.70000000,3089.79232000,1786.37685000
369,369,ethereum_gbp,1.606608e+09,406.21000000,435.60000000,401.68000000,435.05000000,2099.37215000,1458.57027000
370,370,ethereum_gbp,1.606694e+09,435.49000000,464.19000000,431.76000000,464.19000000,6548.34914000,4419.21473000
...,...,...,...,...,...,...,...,...,...
727,727,ethereum_gbp,1.637539e+09,3187.59000000,3221.81000000,3014.28000000,3058.80000000,3535.81680000,1818.20850000
728,728,ethereum_gbp,1.637626e+09,3058.53000000,3283.68000000,3039.13000000,3250.27000000,2758.96760000,1569.37840000
729,729,ethereum_gbp,1.637712e+09,3249.52000000,3277.63000000,3122.16000000,3204.81000000,2221.09350000,1127.63230000
730,730,ethereum_gbp,1.637798e+09,3206.45000000,3419.35000000,3189.34000000,3399.00000000,2133.21870000,1032.59030000
731,731,ethereum_gbp,1.637885e+09,3399.20000000,3417.68000000,2943.65000000,3054.26000000,4119.58720000,2118.59570000